<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProMan</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="regPlatform">
        <div id="regMessage">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <p style="color: #9C1A1C; padding-top: 20px; font-weight: bold">{{ message }}</p>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
            <form action="/registration" method="post">
                <label class="login-label" for="user_name">User name</label>
                <input class="login-input" type="text" name="user_name" id="user_name">
                <label class="login-label" for="password">Password</label>
                <input class="login-input" type="password" name="password" id="password">
                <button class="primary" type="submit">CREATE</button>
            </form>
        </div>
        <div>
            <button class="close" id="close">&times;</button>
        </div>
    </div>
</div>
<div>
    <button id="regButton">Registration</button>
    {% if session["user"] %}
        <a href="{{ url_for("logout") }}">
            <button class="primary">LOGOUT</button>
        </a>
    {% endif %}
</div>
<div id="root"></div>
</body>
</html>
